* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Source Sans Pro;
  font-size: 1em;
}

b {
  color: #F69285;
}

/* NAVIGATION */
.nav-container {
  background: #ffffff;
  height: 85px;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

nav ul {
  display: flex;
}

.logo-img {
  width: 70%;
  margin-top: 5px;
}

.nav-items li {
  list-style-type: none;
  margin-right: 2em;
  padding: 0;
  padding-top: 1em;
}

.dash {
    background: #E46A77;
    padding: 15px;
    border-radius: 15px;
}

.dash a:link {
    text-transform: uppercase;
    color: white;
}

.nav-items a {
  text-decoration: none;
  color: black;
}

/* HERO */
.hero-img {
  background-image: url('/images/hero.png');
  height: 50%;
  background-position: center;
  backgrund-repeat: no-repeat;
  background-size: cover;
}

.hero-logo {
  width: 30%;
  padding-top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-txt {
  color: white;
  font-family: Source Serif Pro;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 15%;
}

/* TUUR */
.video-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.tuur-txt {
  padding-left: 3em;
  padding-right: 5em;
  text-align: justify;
}

.video {
  padding-left: 5em;
}

.line-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10%;
}

.tuur-special {
  font-style: italic;
  margin-left: 5%;
}

/* NEWSLETTER */
.cat-blue {
  text-align: right;
  padding-right: 10%;
  font-size: 0;
  margin-bottom: -2px;
}

.newsletter-container {
  background-color: #384D78;
  padding-top: 4%;
  padding-bottom: 4%;
  color: white;
}

.newsletter-title {
  font-weight: bold;
  font-size: 175%;
  text-align: center;
}

.newsletter-sub {
  font-size: 115%;
  padding-top: 11px;
  text-align: center;
}

#email {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}

#submit {
  width: 8%;
  background-color: #E46A77;
  color: white;
  padding: 14px 20px;
  margin: 8px 15px;
  border: none;
  border-radius: 99px;
  cursor: pointer;
}

.form {
  text-align: center;
  padding-top: 20px;
}